/* حاوية الفقاعات */
.bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* حتى لا تتداخل مع تفاعل المستخدم */
    z-index: -1; /* خلف المحتوى */
}

/* شكل الفقاعة */
.bubble {
    position: absolute;
    bottom: -50px; /* تبدأ من أسفل الشاشة */
    width: 30px;
    height: 30px;
    background-color: rgba(7, 207, 207, 1.0);
    border-radius: 50%;
    animation: rise infinite linear;
    opacity: 0.8;
}

/* حركة الفقاعة للأعلى */
@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-100vh); /* تتحرك للأعلى */
        opacity: 0;
    }
}

/* تأثير التكبير عند التحويم */
.o_card_imgo:hover {
    transform: scale(1.1) !important; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important; 
}
.s_banner {
    width: 1500px;  
    height: 500px;  
    object-fit: cover; 
    margin: 0 auto;  
    display: block;
}
/*Hide the footer*/ 
.o_brand_promotion{  
    display: none !important
}
/*Hide phone me*/ 
.nav-link.o_nav-link_secondary.p-2{  
    display: none !important
}
/* Default menu item styles */
.nav-link {
    background-color: transparent;
    /*color: black; *//* Default text color */
    transition: all 0.2s ease-in-out;
}
/* Active menu item styles */
.nav-item.active .nav-link {
    background-color: #4F2AB8;
    color: white !important; /* Ensure text is white for active items */
}
/* Hover effect */
.nav-link:hover {
    background-color: #58E3D8;
    color: white !important; /* Text color changes on hover */
}
/* Make the header top menu fixed  */
 .o_header_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* لضمان ظهور القائمة فوق العناصر الأخرى */
}
body {
    padding-top: 5px;  /*تعديل ارتفاع البُعد لمنع تداخل المحتوى */
}
